@font-face {
    font-family: 'fezfont';
    src: url('fezfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#game-canvas {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
}

#fullscreen-button {
    width: 48px;
    height: 48px;
    background-image: url('fullscreen.png');
    background-size: contain;

    opacity: 0.25;
    transition: opacity 0.5s ease;

    position: fixed;
    top: 1em;
    right: 1em;

    &:hover {
        opacity: 1.0;
        cursor: pointer;
    }
}

#loading-text {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 1em;
    left: 1em;

    font-family: 'fezfont', sans-serif;
    letter-spacing: -0.1em;
    font-size: 30pt;

    color: white;
    text-shadow: 0.1em 0.1em 0px rgba(0, 0, 0, 0.5);
    
    pointer-events: none;
    user-select: none;

    opacity: 0;
    transition: opacity 0.5s ease;
}